﻿@charset "utf-8";
/* CSS Document */


@font-face {
	font-family: 'NeoSansArabic';
	src: url('../fonts/NeoSansArabic.eot');	 /* IE9 Compat Modes */
	src: url('../fonts/NeoSansArabic.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */ url('../fonts/NeoSansArabic.woff') format('woff'),   /* Modern Browsers */ url('../fonts/NeoSansArabic.ttf') format('truetype'),	 /* Safari, Android, iOS */ url('../fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');  /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
html, body, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, hr, strong, b, input, select, textarea, .highcharts-title, .highcharts-axis-labels, .highcharts-yaxis-title {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style: none;
	font: 15px/26px 'NeoSansArabic';
	color: #6e5944;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
body {
	background: #f4f4f4 url(../images/bc.png) bottom left no-repeat fixed;
	border-top: 5px solid #394b57;
}
.clear {
	clear: both;
}
input, .rerister {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.logo {
	margin: 0 auto;
	width: 125px;
}
.logo img {
	float: left;
	width: 125px;
}
.title {
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 30px 0px;
	color: #464648;
}
.center {
	width: 500px;
	margin: 0 auto;
	padding: 15px 0px 50px 0px;
}
.formbox {
	float: left;
	width: 100%;
	border-radius: 5px;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 1px 5px #a6a6a6;
}
.form-group {
	float: left;
	width: 100%;
	margin: 0;
	margin-top: 15px;
	position: relative;
}
.form-group .form-control {
	width: 100%;
	border: 0;
	font-size: 16px;
	color: #6e5944;
	box-shadow: none;
	border-bottom: 1px solid #c6bcb3;
}
/*
.form-group .form-control:hover,*/.form-group .form-control:focus {
	border-bottom: 1px solid #6e5944;
	background: #f9f7f7;
}
 .form-group .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #6e5944;
}
.form-group .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #6e5944;
 opacity:  1;
}
.form-group .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #6e5944;
 opacity:  1;
}
.form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #6e5944;
}
.form-group .form-control:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
 color:    #6e5944;
}
.rad {
	float: left;
	width: 33.333%;
	position: relative;
	z-index: 1;
}
.bc {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background: #6e5944;
	border-radius: 50%;
	margin-top: 5px;
}
.bc1 {
	background: #6e5944 url(../images/1.png) center no-repeat;
}
.bc2 {
	background: #6e5944 url(../images/2.png) center no-repeat;
}
.bc3 {
	background: #6e5944 url(../images/3.png) center no-repeat;
}
.rad label {
	font-weight: normal;
	font-size: 14px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
}
.border {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #6e5944;
	top: 28px;
	left: 0;
}
.evo-pop {
	z-index: 10000;
	width: 204px;
	padding: 3px 3px 0
}
.evo-pop-ie {
	z-index: 10000;
	width: 212px;
	padding: 3px
}
.evo-palette td {
	font-size: 1px;
	border: solid 1px #c0c0c0;
	padding: 7px;
	cursor: pointer
}
.evo-palette tr.top>td {
	border-bottom: 0
}
.evo-palette tr.in>td {
	border-top: 0;
	border-bottom: 0
}
.evo-palette tr.bottom>td {
	border-top: 0
}
.evo-palette div.sep {
	height: 3px
}
.evo-palette, .evo-palette-ie {
	border-collapse: separate;
	border-spacing: 4px 0px;
*border-collapse:expression('separate', cellSpacing='2px')
}
.evo-palette th, .evo-palette-ie th {
	border: 0;
	padding: 5px 3px;
	text-align: left;
	font-weight: normal;
	background: transparent !important
}
.evo-palette-ie td {
	font-size: 1px;
	border: solid 1px #c0c0c0;
	padding: 7px;
	cursor: pointer
}
.evo-palette2, .evo-palette2-ie {
	margin: auto;
	border-collapse: collapse
}
.evo-palette2 td, .evo-palette2-ie td {
	font-size: 1px;
	cursor: pointer
}
.evo-palette2 td {
	padding: 6px 7px
}
.evo-palette2-ie td {
	padding: 5px
}
.evo-palcenter {
	padding: 5px;
	text-align: center
}
.evo-colorind, .evo-colorind-ie, .evo-colorind-ff {
	border: solid 1px #c3c3c3;
	width: 18px;
	height: 18px;
	float: right
}
.evo-colorind-ie {
	position: relative;
	top: -23px
}
.evo-colorbox-ie {
	font-size: 8px;
	padding: 3px 9px !important
}
.evo-pop:after, .evo-pop-ie:after, .evo-colorind:after, .evo-colorind-ie:after, .evo-colorind-ff:after, .evo-color span:after, .evo-cHist:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0
}
.evo-color {
	width: 94px;
	padding: 1px 3px 0 4px
}
.evo-color div {
	border: solid 1px #808080;
	border-right: solid 1px #c0c0c0;
	border-bottom: solid 1px #c0c0c0;
	padding: 3px;
	margin-bottom: 5px;
	width: 10px;
	height: 10px;
	float: left
}
.evo-color span {
	font-size: 15px;
	margin: 1px 0 4px 3px;
	float: left
}
.evo-sep {
	height: 10px;
	font-size: 0
}
.evo-more {
	padding: 4px 5px 4px;
	font-size: smaller
}
.evo-cHist {
	padding: 3px
}
.evo-cHist div {
	cursor: pointer;
	border: solid 1px #c0c0c0;
	padding: 3px;
	margin: 5px;
	width: 10px;
	height: 10px;
	float: left
}
.evo-transparent {
	background-image: repeating-linear-gradient(135deg, #000, #000 1px, #fff 1px, #fff 3px)
}
.evo-tr-box {
	cursor: pointer;
	border: solid 1px #c0c0c0;
	padding: 3px;
	width: 7px;
	height: 7px;
	float: right;
	position: relative;
	right: -3px;
	top: 2px
}
a.evo-hist {
	margin-left: 6px
}
.evo-pointer {
	cursor: pointer;
	display: none;
}
.evo-hidden-button {
	display: none
}
.evo-cp-wrap {
	width: 100% !important;
}
.rerister {
	width: 100%;
	background: #6e5944;
	color: #fff;
	font-size: 22px;
	border: 0;
	border-radius: 5px;
	text-align: center;
	padding: 15px 0px;
	border-bottom: 3px solid #5f4e3c;
}
.rerister:hover {
	background: #5f4e3c;
}
.green-box, .red-box {
	float: left;
	width: 100%;
	margin-top: 15px;
	background: #e4f2c6;
	padding: 8px 0px;
	border-radius: 5px;
	border: 1px solid #C5C5C5;
}
.green-box .fa {
	color: #c6d99f;
	margin: 4px 3px;
}
.green-box p, .red-box p, .red-box .fa, .green-box .fa {
	float: left;
}
.red-box {
	background: none;
	background: #ffebeb;
	border: 1px solid #ffbaba;
}
.red-box .fa {
	color: #bc1f2d;
	margin: 5px;
}
.eicon {
	text-align: center;
	margin: 50px 0px;
}
.eicon .fa, .eicon p {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 60px;
}
.eicon p {
	font-size: 20px;
	color: #464648;
	padding-bottom: 20px;
}
 @media (max-width:550px) {
.center {
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}
}
 @media (max-width:470px) {
.rad {
	width: 100%;
}
.bc {
	float: left;
	margin-right: 10px;
}
.rad label {
	width: auto;
	padding-top: 20px;
}
.border {
	display: none;
}
.title {
	font-size: 25px;
}
}
 @media (max-width:380px) {
.green-box p, .red-box p {
	font-size: 10px;
}
}
