@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@font-face {
	font-family: 'CoconLight';
	src: url('../fonts/CoconLight.eot');
	src: local('CoconLight'), url('../fonts/CoconLight.woff') format('woff'), url('../fonts/CoconLight.ttf') format('truetype');
}


body {
	margin: 0px;
	padding: 0px;
	background:url(images/sec_bg.jpg);

	font-weight: 400;
	font-family: 'Droid Arabic Kufi', serif;
}
a {
	text-decoration:none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin:0px;
	padding:0px;
}
a:hover {
	text-decoration:none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
img {
	border:none;
	margin:0px;

}

/*/*/
.mobile_view{
	padding:10px 20px 30px 20px;
	display:block;
	width:40%;
	margin:0 auto;
	
	

}
.mobile_view h1{
	display:block;
	font-size:50px;
	font-weight:bold;
	color:#a8302f;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mobile_view h2{
	display:block;
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	
	color:#666;
}
.mobile_view img{
	display:block;
	margin:8px auto;
	max-width:100%;
}
.mobile_view a{
	height:45px;
	display:block;
	background: url(images/ask_slic.png) bottom repeat-x ;
	color:#666;
	font-size:1.6em;
	border-radius:4px;
	-moz-box-shadow: 0px -2px 3px #ccc;
	-webkit-box-shadow: 0px -2px 3px #ccc;
	box-shadow: 0px 1px 6px #ccc;
	border:1px solid #ccc;
	font-weight:bolder;
	margin-top:8px;
	text-decoration:none;
	text-align:left;
	line-height:42px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
.mobile_view a i{
	float:left;
	font-size:30px;
	margin:4px 10px 0px 15px;
	
}
.mobile_view a:hover{
	color:#a8302f;
}

/*/*/


@media (max-width: 980px){
	.mobile_view{
		width:90%;
	}
	
}
